/* Reset des styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: $colorOffWhite;
    section{
        margin: 1rem;
        @media (min-width: $lg){
            margin: 53px 63px;
        }
    }
}
h1{
    color: $colorwhite;
}