$colorwhite: #fff;
$colorOffWhite: #F5F4F2;
$colorblack: #000;
$colorblue: #1184D1;
$colorCeruleanBlue: #0777C2;
$colorSkyBlue: #00A3FF;
$colorLightBlue: #CCEAFF;
$colororange: #EA6419;
$colorCoralOrange: #EF8451;
